 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
	<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
</style>
</th:block>
<div layout:fragment="content">
  <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home /<i class="ion-ios-arrow-forward"></i></a></span> <span> 패키지 <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-0 bread">패키지</h1>
          </div>
        </div>
      </div>
    </section>

      <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2> 패키지</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="block-7">
              <div
                class="img"
                style="background-image: url(/images/pricing-1.jpg)"
              ></div>
              <div class="text-center p-4">
                <span class="excerpt d-block">Personal</span>
                <span class="price"
                  > <span class="number">4.9</span>
                  <sup>만원</sup><sub>/월</sub></span
                >

                <ul class="pricing-text mb-5">
                  <li><span class="fa fa-check mr-2"></span>강아지 5번 산책</li>
                  <li><span class="fa fa-check mr-2"></span>수의사 3번 방문</li>
                  <li><span class="fa fa-check mr-2"></span>스파 3번 이용</li>
                  <li><span class="fa fa-check mr-2"></span>시설 무료이용</li>
                </ul>

                <a href="/" class="btn btn-primary d-block px-2 py-3"
                  >구입하기</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="block-7">
              <div
                class="img"
                style="background-image: url(/images/pricing-2.jpg)"
              ></div>
              <div class="text-center p-4">
                <span class="excerpt d-block">Business</span>
                <span class="price"
                  > <span class="number">7.9</span><sup>만원</sup>
                  <sub>/월</sub></span
                >

                <ul class="pricing-text mb-5">
                  <li><span class="fa fa-check mr-2"></span>강아지 7번 산책</li>
                  <li><span class="fa fa-check mr-2"></span>수의사 4번 방문</li>
                  <li><span class="fa fa-check mr-2"></span>스파 4번 이용</li>
                  <li><span class="fa fa-check mr-2"></span>시설 무료이용</li>
                </ul>

                <a href="/" class="btn btn-primary d-block px-2 py-3"
                  >구입하기</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="block-7">
              <div
                class="img"
                style="background-image: url(/images/pricing-3.jpg)"
              ></div>
              <div class="text-center p-4">
                <span class="excerpt d-block">Ultimate</span>
                <span class="price"
                  > <span class="number">10.9</span>
                  <sup>만원</sup><sub>/월</sub></span
                >

                <ul class="pricing-text mb-5">
                  <li><span class="fa fa-check mr-2"></span>강아지 9번 산책</li>
                  <li><span class="fa fa-check mr-2"></span>수의사 5번 방문</li>
                  <li><span class="fa fa-check mr-2"></span>스파 5번 이용</li>
                  <li><span class="fa fa-check mr-2"></span>시설 무료이용</li>
                </ul>

                <a href="/" class="btn btn-primary d-block px-2 py-3"
                  >구입하기</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img" style="background-image: url(/images/bg_3.jpg);">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex justify-content-end">
    			<div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5 ftco-animate">
    				<h2 class="mb-4">신청서 작성</h2>
    				<form action="#" class="appointment">
    					<div class="row">
    						<div class="col-md-12">
									<div class="form-group">
			    					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
	                      <select name="" id="" class="form-control">
	                      	<option value="">서비스 선택</option>
	                        <option value="">고양이 시팅</option>
	                        <option value="">강아지 시팅</option>
	                        <option value="">기타 시팅</option>
	                        <option value="">강아지 산책</option>
	                        <option value="">애완동물 스파</option>
	                        <option value="">애완동물 미용</option>
	                        <option value="">애완동물 육</option>
	                      </select>
	                    </div>
			              </div>
			    				</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
			              <input type="text" class="form-control" placeholder="이름(신청자)">
			            </div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
			              <input type="text" class="form-control" placeholder="전화번호">
			            </div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
			    					<div class="input-wrap">
			            		<div class="icon"><span class="fa fa-calendar"></span></div>
			            		<input type="text" class="form-control appointment_date" placeholder="날짜"  >
		            		</div>
			    				</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
			    					<div class="input-wrap">
			            		<div class="icon"><span class="fa fa-clock-o"></span></div>
			            		<input type="text" class="form-control appointment_time" placeholder="시간">
		            		</div>
			    				</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="메세지"></textarea>
			            </div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
			              <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
			            </div>
								</div>
    					</div>
	          </form>
    			</div>
    		</div>
    	</div>
    </section>
    </div>
<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript"></script>
</th:block>
</html>