<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		select {
		margin: 2px;
		width: 33.33%;
		}
	
		a {
			cursor: pointer
		}
	</style>
</th:block>

<div layout:fragment="content">
	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0">
					<a href="/">Home</a> <span class="mx-2 mb-0">/</span> 
					<strong class="text-black">분양관리</strong>
				</div>
			</div>
		</div>
	</div>
	
	<div class="site-section">
		<div class="container">
			<div class="row" style="justify-content: center; align-items: center; margin: 0 auto; width: 60%; padding: 20px 0 50px 0;">
				
				<div class="col-md-12">
					<h2 class="h3 mb-3 text-black">분양관리</h2>
					<form th:action="@{'/admin/ais/' + ${ais.number}}" method="get" th:object="${ais}">
						<table class="table table-responsive-md">
						  <thead>
						    <tr>
						      <th scope="col">id</th>
						      <th scope="col">동물명</th>
						      <th scope="col">상태</th>
						      <th scope="col">등록자</th>
						      <th scope="col">등록일</th>
						      <th scope="col">삭제</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<!-- 초기화된 데이터를 출력한다. -->
						    <tr th:each="ai, status: ${ais.getContent()}">
						      <th th:text="${ai.id}" scope="row">1</th>
						      <td>
						      	<a th:href="'/admin/ai/' + ${ai.id}" th:text="${ai.aiNm}"></a>
						      </td>
						      <td th:text="${ai.aiSellStatus}"></td>
						      <td th:text="${ai.createdBy}"></td>
						       <td th:text="${ai.regtime}"></td> 
						        <td>
						      	 	<button type="button" class="btn btn-danger waves-effect waves-light" th:id="${ai.id}" th:value="${ai.id}" th:onclick="'javascript:deleteAi(' + ${ai.id} +')'">삭제하기</button>
						      </td> 
						    </tr>
						  </tbody>
						</table>
						
						<!-- 페이징버튼 -->
						<!-- start(페이지 시작 번호) = (현제 페이지 번호 / 보여줄 페이지수) * 보여줄 페이지 수 + 1 -->
						<!-- end(페이지 끝 번호) = start + (보여줄 페이지 수 - 1)-->
						<nav
							th:with="start=${(ais.number/maxPage)*maxPage + 1}
									,end=(${(ais.totalPages == 0) ? 1 : (start + (maxPage - 1) < ais.totalPages ? start + (maxPage - 1) : ais.totalPages)})"
							aria-label="Page navigation example">
							<ul class="pagination d-flex justify-content-center">
								<li class="page-item" th:classappend="${ais.first}?'disabled'">
									<a class="page-link"
									th:onclick="'javascript:page(' + ${ais.number - 1} +')'">이전</a>
								</li>
								<li class="page-item"
									th:each="page: ${#numbers.sequence(start, end)}"
									th:classappend="${ais.number eq page-1}?'active':''">
									<a
									class="page-link" th:inline="text"
									th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a>
								</li>
								<li class="page-item" th:classappend="${ais.last}?'disabled'">
									<a class="page-link"
									th:onclick="'javascript:page(' + ${ais.number + 1} +')'">다음</a>
								</li>
							</ul>
						</nav>
						
						<div class="row" 
							 th:object="${aiSearchDto}" >
							<div class="col-lg-2"></div>
							<div class="col-lg-5" style="display: flex;">
								<!-- 분양 등록일 -->
								<select th:field="*{searchDateType}" class="form-control">
									<option value="all">전체기간</option>
									<option value="1d">1일</option>
									<option value="1w">1주</option>
									<option value="1m">1개월</option>
									<option value="6m">6개월</option>
								</select>
								<!-- 동물분양 상태 -->
								<select th:field="*{searchSellStatus}" class="form-control">
									<option value="">판매상태(전체)</option>
									<option value="SELL">분양 가능</option>
									<option value="SOLD_OUT">분양 완료</option>
								</select>
								<!-- 동물명, 등록자 선택 -->
								<select th:field="*{searchBy}" class="form-control">
									<option value="aiNm">동물명</option>
									<option value="createdBy">등록자</option>
								</select>
							</div>
							<div class="col-lg-3">
									<div style="display:flex;">
									<input type="text" class="form-control"
									th:field="*{searchQuery}" placeholder="검색어 입력" style="margin-top: 15px	" />
									<button id="searchBtn" type="submit" class="btn btn-primary mb-3" style="height: 60px; margin-top: 11px">검색</button>							
								</div>
							</div>
							<div class="col-lg-2"></div>
						</div>
						
					</form>
				</div>
				
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function(){
			$("#searchBtn").on("click", function(e){
				e.preventDefault(); // submit되는걸 방지
				page(0);
			});
		});
		
		// 페이징버튼 눌렀을때 검색어와 selectbox를 get방식으로 주소 이동시켜준다
		function page(page){
			// 입력한 값을 전부 가져온다
			var searchDateType = $("#searchDateType").val();
			var searchSellStatus = $("#searchSellStatus").val();
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();
			
			// 주소 이동
			location.href = "/admin/ais/" + page 
							+ "?searchDateType=" + searchDateType
							+ "&searchSellStatus=" + searchSellStatus
							+ "&searchBy=" + searchBy
							+ "&searchQuery=" + searchQuery;
			
		}
		
		
		
		 function deleteAi(aiId) {
		        const deleteconf = confirm("주문 내역을 삭제하시겠습니까?");
		        if (!deleteconf) return;

		        var token = $("meta[name='_csrf']").attr("content");
		        var header = $("meta[name='_csrf_header']").attr("content");

		        var url = "/admin/" + aiId + "/delete";
		        
		        $.ajax({
		          url: url,
		          type: "DELETE", //전송방식
		          contentType: "application/json",
		          beforeSend: function(xhr) {
		            //데이터를 전송하기 전에 헤더에 xsrf값
		            xhr.setRequestHeader(header, token);
		          },
		          dataType: "json",
		          cache: false,
		          success: function(result, status) {
		            // Handle success, e.g., refresh the page or update the UI
		        	  location.href = "/";
		          },
		          error: function(jqXHR, status, error) {
		            if (jqXHR.status == "401") {
		              alert("로그인 후 이용해주세요.");
		              location.href = "/member/login";
		            } else {
		              alert(jqXHR.responseText);
		            }
		          },
		        });
		      }
		
	</script>
</th:block>
</html>